
body{
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* background-color: black; */
    /* color:white; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Georgia', serif; */
    /* font-family: 'Arial', sans-serif; */
}
#body {
/* background-color:#1E1E1E; */
/* color:white; */
}
.submit {
    background-color:#CAFF33;
    color:black;
}



.profile_pic {
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 12px solid greenyellow;
}



.creator  > img{
    height:200px; 
    width:200px;
    border-radius: 50%;
    border:1px #CAFF33 solid;
}
.left_side{
    margin-right: 25%;
}


.content{
    border:solid 1px #CAFF33;
}
.content:hover {
    background-color: #CAFF33;
    cursor:pointer;

}

.course_overview{
    /* background-color: blue; */
    /* background-color: white; */

}

.video_description{
    /* background-color: green; */
    /* background-color: white; */

}
.interactive_part{
    border-top:1px solid black;
}
.navigation{
    margin-top:25px;
    margin-bottom: 25px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: black; */
    /* background-color: yellow; */
    margin-left: 20%;
    margin-right: 20%;
    gap:20px;
}
.navigation > .navigate {
    text-align: center;
    /* font-size: 20px; */
    font-weight: 600;
    border-radius: 30px;
    background-color: white;
}
.navigation_index {
    width: 100% ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    /* background-color: #CAFF33; */
}
.navigation_index > .navigate {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    background-color: white;
}

.navigate{
    /* background-color: #131313; */
    border:1px solid grey;
    padding:10px;
}
.navigate:hover{
    background-color: #CAFF33;
    cursor:pointer;
}
.changeable{
    /* border-top:1px solid black; */
    /* margin-top:50px; */
    padding-left: 20%;
    padding-right:20%;
    text-align: left;
}


.checked {
    color: orange;
  }


.course_view > *{
    /* background-color: black; */
    /* color:white;     */
}

.content_list{
    /* background-color:black; */
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 1px solid black;

    overflow-y: auto; /* Enable scrolling if content overflows */
}
.content_list > .content {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 25px;
    gap: 15px;

}
.content_list > .content > img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
    /* border: #CAFF33 8px solid; */
}
.content_list > .content > div {
    text-align: left;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
}
.content_list > .content > div > h6 {
    font-size: 17px;
}
.content_list > .content > div > p {
    color: #6a6f73;
}

html {
    font-size: 16px;
}

.instructor {
    color:#6a6f73;
    text-align: left;
    font-weight: 600;
    font-size: 0.6rem;
}
.static{
    margin-left: 15%;
    margin-right: 15%;
    display:grid;
    grid-template-columns: 70% auto;
    column-gap: 40px;
}
.edit {
    margin-left: 25%;
    margin-right: 25%;
}
.edit > form > label {
    font-size: 1.2rem;

}
.edit > form > input {
    width: 100%;
    border-radius: 0px;
    padding: 8px;
}
.edit > form > textarea {
    width: 100%;
    height: 300px;
    border-radius: 0px;
    padding: 8px;
}
.edit > form > input[type="submit"] {
    background-color: #CAFF33;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    /* width:100%; */
}
.about{
    text-align: left;
    color: #000;
    font-size: 1.1rem;
    line-height: 1.3;
    margin-top: 0;
    /* font-weight: 50; */
    
}
.full_name {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 2px;
    font-weight: 800;
    font-style: italic;
    color:greenyellow;

}
.headline {
    margin-top: 4px;
    text-align: left;
    font-size: 2.6rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    /* background-color: #CAFF33;
    /* height: 60px; */
    /* padding: 16px; */
    /* border-radius: 8px; */ */
}
.left_side_profile{
    text-align: left;
}
.about_me{
    /* color: #6a6f73; */
    margin-bottom: 16px;
    /* background-color: #CAFF33;
    height: 20px;
    border-radius: 8px;
    padding: 16px; */
    
}

.link {
    width: 100%;
    height: 30px;
    background-color: white;
    margin-bottom: 12px;
    /* padding: px; */
    font-size: 1.1rem;
}

.link:hover{
    background-color: greenyellow;
    cursor: pointer;
}
.teacher_view{
    margin-top: 100px;
}
.course{
    border: 1px solid black;
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
}
.course:hover{background-color: #CAFF33}
.course > img {
    width: 248.5px;
    height: 187.5px;
    border-radius: 9px 9px 0px 0px;
}
.course_name{
    margin:  6px 0px;
}
.course_creator{
    font-size: 13px;
    color: #6a6f73;
    margin: 0;
}
.course_info{
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
.course_bottom {
    margin: 6px 0px;
    display:flex;
    justify-content: space-between;

}
.course_price {
    display:inline-block;
    font-weight: 700;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.course_custom {
    display:inline-block;
    color: #6a6f73;
    font-size: 13px;
}
.person_username {
    background-color: #CAFF33;
    text-align: left;
    height: 3rem;
    font-size: 2rem;
    padding: 50px 16%;
    margin: 20px -10px;
}
.courses_enrolled{
    margin:25px 0px 100px;
    font-size: 1.2rem;
    font-weight: 600;
}
.course_zone {
    padding: 0% 15%;
    display: flex;
    gap: 20px;
}

.user_content {
    margin: 2% 15%;
}
.head_content {
    color:#CAFF33;
    text-align: left;
    margin-bottom: 5%;
    font-size: 2.4rem;
    font-weight: 800;
    font-style: italic;
    color:greenyellow;
}
.paid_content{
    margin-top: 5%;
}

.grid_content{
    display:flex;
    gap: 20px;
    }


.single_form {
    /* font-family: cursive; */
    display: grid;
    grid-template-columns: auto; /* Adjust column widths based on your preference */
    gap: 10px;
    max-width: 60%; /* Adjust the maximum width as needed */
    margin: auto;
}

.single_form div {
    display: flex;
    flex-direction: column;
}

.single_form label {
    margin-bottom: 5px;
}

.single_form input,
.single_form textarea,
.single_form select {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
/* .single_form select {
    width: 100px;
} */
.single_form input[type="checkbox"] {
    margin-bottom: 0;
    /* width: 100px; */
}
input[type='checkbox'] {
    /* -webkit-appearance:none; */
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: black;
}

.single_form input[type="submit"] {
    background-color: #CAFF33;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;

}

.single_title {
    text-align: center;
}
iframe {
    border:5px solid black;
    border-radius: 15px;   
}

.single_content_view {
    margin-left: 15%;
    margin-right: 15%;
}

.content_creator{
    display:grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 40px;
}

.content_creator_img{
    width: 100px;
    border-radius: 50%;
    border: #CAFF33 5px solid;
}

.content_headline{
    /* padding-top: 40px; */
    /* margin-right: 50px; */
    padding: 0px 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
}
.content_headline > p {font-size: 20px;font-weight: 600; margin-top:0px;}
.content_name{
    margin-top: 8px;
    font-size: 18px;
    font-weight: 600;
}
.comment_form {
    margin-top:25px;
}
.comment_form > input[type="text"]{
    width:100%;
    /* height: 100px; */
    /* padding: 20px; */
    height: 60px;
    border-radius: 5px;
    padding: 16px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;   
}

.comment_form > input[type="submit"]{
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    left:0;
    background-color: #CAFF33;
}

.static_comment{
    text-align: left;
}

.comment{
    /* border: 1px black solid; */
    padding: 20px;
}

.comment_username {
    font-size: 16px;
    font-weight: 700;
    font-family: cursive;
}

.comment_date {
    font-size: 14px;
    color: #6a6f73;
}
.comment_pic{
    background-color: #CAFF33;
    /* padding: 12px; */
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 14px;
    float: left;
    margin-right: 20px;
    padding-left: 11px;
    padding-top: 5px;
}
.comments_below{
    text-align: left;
    font-size: 2rem;
    color: white;
}

.edit_comment{
    text-align: left;
    margin-left: 10px;
}
.edit_comment > a{
    color:black
}

.delete_comment{
    margin-left: 10px;

}

.edit_comment_form > textarea {
    width: 100%;
    height: 50px;
}

.create_teacher{
    /* margin-left: 15%;
    margin-right: 15%; */
    text-align: center;
}

.create_teacher_form{
    display: grid;
    grid-template-columns: auto;
    max-width: 60%;
    margin: auto;
}
.create_teacher_form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.create_teacher_form > div > label {
    font-size: 16px;
    text-align: left;
}
.create_teacher_form > div > input[type="text"] {height: 30px;}
.create_teacher_form > div > input[type="url"] {height: 30px;}

.create_teacher_form > input[type="submit"] {
    background-color: #CAFF33;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;

}


.index_app{
    margin: 0% 15% 0% 15%;
}

.category_name {
    color:#CAFF33;
    text-align: left;
    margin-bottom: 5%;
    font-size: 2.4rem;
    font-weight: 800;
    font-style: italic;
    color:greenyellow;
}
.courses{display: flex;gap: 20px;}

.top_part{
    display: grid;
    grid-template-columns: auto auto;
    gap: 100px;
    margin-bottom: 120px;
    /* margin-left: 8%; */
    margin-right: 8%;
    margin-top: 70px;
}
.top_part > img{
    height: 300px;
    width: 400px;
    border-radius: 50px;
}
.top_part > div > h1 {
    font-size: 4rem;
    font-weight: 800;
    
}
.top_part > div > p {
    margin-top: 20px;
    font-size: 1.1rem;
}

.course_overview > p {
    font-size: 20px;
}
.course_overview > div {
    text-align: center;
}
.course_overview > div > img {
    width: 100px;
    height: 100px;
}
.course_overview > div > p {
    color: #6a6f73;
}
.video_description > p {
    font-size: 20px;
}

.edit_form {
    display:grid;
    grid-template-columns: auto;
    margin: 0% 20%;
}
.edit_form > input[type="submit"] {
    background-color: #CAFF33;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    /* width:100%; */
}
.edit_h1{margin-left: 20%;}

.edit_form >  input[type="text"] {height: 50px;}
.edit_form >  input[type="url"] {height: 50px;}
.stars {
    font-size: 14px;
    display: flex;
    gap: 10px;
}
.review > h5 {
    font-size: 22px;
}

.review_date {
    color: #6a6f73;
}
.review > p {
    margin-top: 10px;
    font-size: 18px;
}

.current_rating {
    text-align: left;
    font-size: 3rem;
}


.review {
    font-size: 2rem;
}

.rating_form {
    display: flex;
    flex-direction: column;
}
.rating_form > input[type="submit"] {
    background-color: #CAFF33;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 40px;
    /* width:100%; */
}

.you_rated {margin-bottom: 40px;}
.edit_button {
    border-radius: 4px;
    padding: 8px;
    margin-top: 8px;
    left: 0;
    background-color: #CAFF33;
}
.is_completed_section{
    border: #000 1px solid;
    border-radius: 5px;
    padding: 2px 1px;
    position: relative;
}
.is_completed_section:hover{background-color: aqua;}

.is_completed_section:hover::after {
    content: "Mark completed/uncompleted";
    position: absolute;
    top: 35px; /* Adjust the distance from the cursor */
    left: 50%; /* Position it relative to the parent */
    transform: translateX(-50%);
    background-color: #333; /* Tooltip background color */
    color: white; /* Tooltip text color */
    padding: 5px; /* Add some padding for better visibility */
    border-radius: 3px;
    white-space: nowrap; /* Prevent text from wrapping */
    font-size: 0.7rem;
}

.is_completed_text {
    font-size: 0.7rem;
}

.cart_app{margin: 0% 25%;
    
}
#cart_top{
/* background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%); */
/* background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

border-radius: 15px;
padding: 15px;
margin-bottom: 15px;
}
#cart_top {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.course_in_cart{
    display:flex;
    justify-content: space-between;
    width: 100%;
}

#Courses, #Price {
    margin-bottom: 50px;
    font-size: 3rem;
    font-weight: 600;}

#Total {margin-top: 10%;}    

#Buy {
    float: right;
    background-color: #CAFF33;
    border-radius: 10px;
    padding: 0px;
    width: 100%;
    font-size: 3rem;
}

.course_in_cart_name {
    font-size: 1.2rem;
}

.course_in_cart_creator{
    font-size: 0.7rem;
    color: #6a6f73;
    font-style: italic;
} 
.course_in_cart_creator > a {color: #6a6f73;}

.changeable > div >h1 {
    background-color: #CAFF33;
    padding: 15px;
    border-radius: 10px;
}