body{
    /* font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* background-color: black; */
    /* color:white; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Georgia', serif; */
    /* font-family: 'Arial', sans-serif; */
}
#body {
/* background-color:#1E1E1E; */
/* color:white; */
}
.submit {
    background-color:#CAFF33;
    color:black;
}
nav {
    display:flex;
    justify-content:space-around;
}

.profile_pic {
    height:200px;
    width:200px;
    border-radius: 50%;
    border: 12px solid greenyellow;
}

.comment{
    border: 1px #CAFF33 solid;
}

.creator  > img{
    height:200px; 
    width:200px;
    border-radius: 50%;
    border:1px #CAFF33 solid;
}
.left_side{
    margin-right: 25%;
}


.content{
    border:solid 1px #CAFF33;
}
.content:hover {
    background-color: #CAFF33;
    cursor:pointer;

}

.course_overview{
    /* background-color: blue; */
    /* background-color: white; */

}

.video_description{
    /* background-color: green; */
    /* background-color: white; */

}
.interactive_part{
    border-top:1px solid black;
}
.navigation{
    display:flex;
    justify-content: start;
    /* background-color: black; */
    /* background-color: yellow; */
    border-bottom:1px solid #CAFF33;
    margin-left: 5.3%;
}
.navigate{
    /* background-color: #131313; */
    border:1px solid grey;
    padding:10px;
}
.navigate:hover{
    background-color: #CAFF33;
    cursor:pointer;
}
.changeable{
    /* border-top:1px solid black; */
    margin-top:50px;
    padding-left: 10%;
    padding-right:10%;
}


.checked {
    color: orange;
  }


.course_view > *{
    /* background-color: black; */
    /* color:white;     */
}

.content_list{
    /* background-color:black; */
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    border: 1px solid black;

    overflow-y: auto; /* Enable scrolling if content overflows */
}
html {
    font-size: 16px;
}
.instructor {
    color:#6a6f73;
    text-align: left;
    font-weight: 600;
    font-size: 0.6rem;
}
.static{
    margin-left: 15%;
    margin-right: 15%;
    display:grid;
    grid-template-columns: 70% auto;
    column-gap: 40px;
}
.edit {
    margin-left: 25%;
    margin-right: 25%;
}
.edit > form > input {
    width: 100%;
    border-radius: 10px;
    padding: 4px;
}
.edit > form > textarea {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    padding: 8px;
}
.about{
    text-align: left;
    color: #000;
    font-size: 1.3rem;
    line-height: 1.3;
    margin-top: 0;
    
}
.full_name {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 2px;
    font-weight: 800;
    font-style: italic;
    color:greenyellow;

}
.headline {
    margin-top: 4px;
    text-align: left;
    font-size: 2.4rem;
    font-family: 'Times New Roman', Times, serif;

}
.left_side_profile{
    text-align: left;
}
.about_me{
    color: #6a6f73;
    margin-bottom: 2px;
    
}

.link {
    width: 100%;
    height: 30px;
    background-color: white;
    margin-bottom: 6px;
    font-size: 1.1rem;
}

.link:hover{
    background-color: greenyellow;
    cursor: pointer;
}
.user_view{
    margin-top: 100px;
}