{% extends 'education/layout.html' %}
{% block title %}About us{% endblock %}
{% block body %}

<div class="greeting">
    <h1 class="company_name">NUTRISPORT ACADEMY</h1>
    <p class="company_headline">Fuel Your Body and Mind - Master the Art of Sports Nutrition and Fitness!</p>
</div>
<div class="about_us">
    <div>
    <h3>
        About Our Academy
    </h3>
    <p>Welcome to NutriSport Academy, where our mission is to bridge the gap between passionate learners and the ever-evolving fields of fitness, nutrition, and professional sports. Our journey began with a simple yet powerful vision: to create a transformative online platform that not only educates but also empowers individuals to achieve their health and fitness goals.
    </p>
    </div>
    <img alt="healthy drink" src="https://images.pexels.com/photos/1346347/pexels-photo-1346347.jpeg?auto=compress&cs=tinysrgb&w=600" width="300" height="300">
</div>

<div class="explore">
    <p>Join us at NutriSport Academy, where your wellness journey is backed by science, inspired by passion, and dedicated to your success.</p>
    <button class="explore_button" onclick={window.location.href="/"}>Explore</button>
</div>
{% endblock %}