{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Certificate</title>
    <link rel="stylesheet" href="{% static 'education/styles.css' %}">
</head>
<body>
    {% if user.first_name == "" %}
    <div class="name_form">
    <h1>Fill out your first and last name</h1>
        <form action="{% url 'certificate' course.id %}" method="POST">
            {% csrf_token %}
            <label>First Name:</label>
            <input type="text" name="first"><br/><br/>
            <label>Last Name:</label>
            <input type="text" name="last"><br/><br/>
            <input type="submit">
        </form>
    </div>
    {% else %}
  <div class="certificate">
      <div class="left_certificate">
          <h2 class="verified">Verified Certificate</h2>
          <p>This is to certify that</p>
          <h3>{{user.first_name}} {{user.last_name}}</h3>
          <p>has successfully watched all content and received passing grades for a Verified Certificate in</p>
          <h2>{{course.name}}</h2>
          <p class="purchased_on">purchased on {{participation.date|date:"M,d Y"}}</p>
      </div>
      <div class="right_certificate">
          <span class="company">Fitness</span>
          <p>signature </p>
          <div class="completed_on">
          <p>completed on</p>
          <p>{{participation.completed_date|date:"M,d Y"}}</p>
          </div>
      </div>
  </div>
    {% endif %}
</body>
</html>