
{% extends 'education/layout.html' %}
{% block title %}Course Overview{% endblock %}
{% block body %}


<div class="course_overview_buy">
    <div class="course_overview_info">
        <div class="left_overview">
            <h1>{{course.name}}</h1>
            <p>{{course.overview}}</p>
            <div class="course_overview_stars">
                <span id="rating">4.4</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star "></span>
                <span class="fa fa-star"></span>
            </div>
            <p class="created_by">Created {{course.date}}</p>
            <p class="created_by">by <a href="{% url 'user' course.creator.username %}">{{course.creator.first_name}} {{course.creator.last_name}}</a></p>
        </div>
        
        <div class="right_overview">
            <img src="{{course.url_image}}" alt="course's picture">
            <p>Price: {{course.price}}$</p>
            <div><a href="{% url 'buy_course' course.id %}"><button>buy instantly <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-bag-plus" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
  <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
</svg></button></a>
            {% if course in request.user.cart.all %}
                <a id="remove_from_cart" data-courseid="{{course.id}}"><button>remove from cart </button></a>
                {% else %}
                <a id="add_to_cart" data-courseid="{{course.id}}"><button>add to cart <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
</svg> </button></a>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% load static %}
<script src="{% static 'education/javascript/course_overview.js' %}" ></script/>
{% endblock %}