{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title  %}Health{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'education/styles.css' %}">
</head>
<body>
<nav class="navbar">
      <ul class="navbar-nav">
        <li class="nav-item">Home</li>
        <li class="nav-item">About</li>

        <!-- Dropdown will go here -->
        <li class="nav-item has-dropdown">

          <a href="#">Theme</a>

          <ul class="dropdown">

            <li class="dropdown-item">
              <a href="#">light</a>
            </li>
            <li class="dropdown-item">
              <a href="#">dark</a>
            </li>
            <li class="dropdown-item">
              <a href="#">solarize</a>
            </li>

          </ul>
        </li>
        <li class="nav-item">Login</li>

      </ul>
    <hr/>
    </nav>



<!--    <nav>-->
<!--    {% if request.user.is_authenticated %}-->
<!--    {% if request.user.is_superuser %}-->
<!--    <a href="/admin">ADMIN PAGE</a>-->
<!--    {% endif %}-->
<!--    <a href="{% url 'user' request.user.username %}">Signed in as {{request.user.username}}</a>-->
<!--    {% endif %}-->
<!--    <a href="{% url 'create_teacher' %}">Become a teacher</a>-->
<!--    {% if not request.user.is_authenticated %}-->

<!--    <a href="{% url 'login' %}">Login</a>-->
<!--    <a href="{% url 'register' %}">Register</a>-->
<!--    {% else %}-->
<!--    <a href="{% url 'logout' %}">Logout</a>-->
<!--    {% endif %}-->
<!--</nav>-->

    {% block body %}
    {% endblock %}
</body>
</html>