{% extends 'education/layout.html' %}
{% block title %}Search{% endblock %}
{% block body %}


<div id="root" data-string={{name}} ></div>
<script src="https://unpkg.com/react@17/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/babel" src="{% static 'education/javascript/search.js' %}" />

{% endblock %}